.gpt3__brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gpt3__brand div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}